
.left {
    float: left;
    background-color: darkgray;
    margin-right: 20px;
    height: 100px;
    width: 150px;
}
.first-top {
    float: top;
    background-color: dimgray;
    width: 100%;
    height: 60px;
    color: white;
    margin-bottom: -21px;

}
p {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
}
.mokuai {
    width: 100%;
    height: 100px;
    border: 1px solid gainsboro;

}
h2 {
    font-size: 20px;
    padding: 20px 30px;
}
.right {
    padding-top: 5px;
}
